# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables
.env
.flaskenv

# Editor files
.vscode/
.idea/

# Logs
*.log
data/*.log

# Project specific
.history/
